html {
  box-sizing: border-box;
}

img {
  width: 300px;
  height: auto;
  padding: 10px;
}

img:hover {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s;
}

/* CLASSES */

.flex-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

/* END CLASSES */

@media (max-width: 375px) {
  img {
    max-width: 300px;
    width: 80%;
    height: auto;
  }
}